<div class="main_container">

<div class="spalsh_title">
    <p>Sign up or log in below:</p>
</div>
<div class="buttons">
  <%= link_to "LOG IN", new_user_session_path,  class: "button signin " %>
  <%= link_to "SIGN UP", new_user_registration_path, class: "button login" %>
  
</div>
</div>